/* Nomor 5 */
.box {
  padding: 24px;
  background-color: #93c5fd;
  text-align: center;
  border-radius: 8px;
}

@media (max-width: 600px) {
  .box {
    background-color: #fca5a5;
    padding: 12px;
  }
}
